---
title: Chase Farrant
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/fonts/noto-sans-v35-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/noto-sans-v35-latin-700italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/noto-sans-v35-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/noto-sans-v35-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/quicksand-v31-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/quicksand-v31-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/quicksand-v31-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/jetbrains-mono-v18-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="{{ '/css/photoswipe.css' | url | bust }}" rel="stylesheet" />
    <link href="{{ '/css/styles.css' | url | bust }}" rel="stylesheet" />
    <link href="{{ '/css/prism.css' | url | bust }}" rel="stylesheet" />
    <script async src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
    <script async src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
    {% favicons 'favicon.png', appleIconBgColor='#123' %}
    <title>{{ title }}</title>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZX4DD1Y9MK');
    </script>
  </head>
  <body>
    <div class="name">
        <h3><a href="/">Chase Farrant</a></h3>
    </div>
    <div class="menubar">
        <a href="/about">About</a> &nbsp; | &nbsp;
        <a href="/blog">Blog</a> &nbsp; | &nbsp;
        <a href="/projects">Projects</a> &nbsp;
    </div>
    &nbsp;
    {{ content | safe }}
  </body>
  <footer>
    &nbsp;
    <hr style="text-align:left;margin-left:0">
    <p>
        <b> &copy; 2024 </b> Chase Farrant 
    </p>
    <p>
        Website created by <a href="https://wiredby.design" target="_blank" rel="noopener noreferrer" aria-label="Wired By Design (opens in a new tab)">Wired By Design</a>
    </p>
  </footer>
</html>
