{
    "Parameters": {
        "Environment": "prod",
        "GitHubRepoBranch": "main",
        "GitHubRepoName": "www.chasefarrant.com",
        "GitHubRepoOwner": "farrantch",
        "Prefix": "cf",
        "ServiceName": "portfolio"
    },
    "Tags": {
        "Environment": "prod",
        "Prefix": "cf",
        "Service": "portfolio"
    }
}